policy_module(stegos_custom, 1.0)

require {
    type klogd_t;
    type mount_t;
    type syslogd_t;
    type var_log_t;
    type container_file_t;
    type container_var_lib_t;
    type bin_t;
    type dockerd_t;
    class file { append create execute getattr ioctl map open read rename setattr unlink write };
    class dir { add_name create read remove_name rename reparent setattr write };
    class blk_file create;
    class capability mknod;
}

#============= dockerd_t ==============
allow dockerd_t var_log_t:file { append ioctl };

#============= klogd_t ==============
allow klogd_t bin_t:file { execute map read };

#============= mount_t ==============
allow mount_t container_file_t:blk_file create;
allow mount_t container_file_t:dir { add_name create };
allow mount_t container_file_t:file open;
allow mount_t container_file_t:file { create read write };
allow mount_t container_var_lib_t:dir { add_name create remove_name rename reparent setattr write };
allow mount_t container_var_lib_t:dir read;
allow mount_t container_var_lib_t:file { getattr open };
allow mount_t container_var_lib_t:file { create read rename setattr unlink write };
allow mount_t self:capability mknod;

#============= syslogd_t ==============
allow syslogd_t bin_t:file { execute map read };
